<div class="root">
    <mat-card class="card">
        <mat-card-title class="title">Integration settings</mat-card-title>
        <form class="form" (ngSubmit)="onSubmit()" #partnerForm="ngForm">
            <div class="form-group">
                <mat-form-field class="input">
                    <mat-label class='lbl' for="Site">Site</mat-label>
                    <input class="input" matInput type="text" id="Site" required [readonly]="true"
                        [(ngModel)]="model.sites" name="Site" #Site="ngModel">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="input">

                    <mat-label class='lbl' for="UserPattern">User Pattern</mat-label>
                    <input class="input" matInput type="text" id="UserPattern" required [readonly]="true"
                        [(ngModel)]="model.userPattern" name="UserPattern" #UserPattern="ngModel">
                </mat-form-field>

            </div>
            <div class="form-group">
                <mat-form-field class="input">
                    <mat-label class='lbl' for="webhook">Creator change webhook</mat-label>

                    <input class="input" matInput type="text" id="webhook" required [readonly]="false "
                        [(ngModel)]="model.creatorWebhook" name="webhook" #webhook="ngModel">
                </mat-form-field>
            </div>
            <button class="input" mat-button id='save' type="submit" [disabled]="!partnerForm.form.valid">Save</button>
        </form>
    </mat-card>
    <app-partner-test></app-partner-test>
</div>