@use 'sass:map';
@use '@angular/material' as mat;
@use "../theme/theme";

.error {
    text-align: center;
    padding: 30px;

    .error-content {
        a {
            color: map-get($md-pinkhighlight, 500);
            background-color: transparent;
            text-decoration: underline;
        }
    
        margin-top: 20px;
    }
}