*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
settings.env

# python
Subless.UI.Tests/virtual_env/*
Subless.UI.Tests/.env
/Subless.UI.Tests/keys.json
/Subless.UI.Tests/.cache/
/Subless.UI.Tests/.pytest_cache/

Subless.JS/node_modules/**
SublessSignIn/wwwroot/**