<div class="container">
    <mat-card class="card">
        <mat-card-title>Terms and Conditions</mat-card-title>
        <mat-card-content>In order to use subless, you must agree to our
            <a href="https://www.subless.com/terms" target="_blank">terms of service and privacy policy.</a>
        </mat-card-content>
        <mat-card-content>Please review these before continuing.
        </mat-card-content>
        <button class="button" mat-button (click)='accept()'>Accept</button>
    </mat-card>
</div>