<mat-sidenav-container color='primary' id='root'>

  <mat-sidenav class="drawer" #drawer mode="side" *ngIf="user || partner || creator" opened role="navigation">
    <div class="logo"></div>

    <mat-nav-list>
      <a mat-list-item id="creator" *ngIf="creator" [routerLinkActive]="['is-active']" routerLink='/creator-profile'>
        <img matListAvatar src="../../assets/img/profile.png">
        <div>Creator Profile</div>
      </a>
      <a mat-list-item id="partner" *ngIf="partner" [routerLinkActive]="['is-active']" routerLink='/partner-profile'>
        <img matListAvatar src="../../assets/img/profile.png">
        <div>Partner Profile</div>
      </a>
      <a mat-list-item id="user" *ngIf="user" [routerLinkActive]="['is-active']" routerLink='/user-profile'> <img
          matListAvatar src="../../assets/img/profile.png">
        <div>Subscriber Profile</div>
      </a>
      <a mat-list-item id="billing" class="navButton" (click)="returnToStripe()">
        <img matListAvatar src="../../assets/img/billingNormalized.png">
        <div>Billing Information</div>
      </a>
      <a mat-list-item id="plan" class="navButton" [routerLinkActive]="['is-active']" routerLink="/change-plan">
        <img matListAvatar src="../../assets/img/planNormalized.png">
        <div>Change Plan</div>
      </a>
    </mat-nav-list>
    <mat-nav-list id="bottom-nav">
      <a mat-list-item id="account" class="navButton" [routerLinkActive]="['is-active']" routerLink="/account-settings">
        <img matListAvatar src="../../assets/img/accountNormalized.png">
        <div>Account Settings</div>
      </a>
      <a mat-list-item id="logout" class="navButton" (click)="logout()">
        <img matListAvatar src="../../assets/img/LogoutNormalized.png">
        <div>Log Out</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content #content class="content">
    <router-outlet></router-outlet>
    <app-id></app-id>
  </mat-sidenav-content>
</mat-sidenav-container>