<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Subless Checkout</title>
    <meta name="description" content="Your subscription for any media" />
    <!-- Load Stripe.js on your website. -->
</head>

<body>

    <div class="subless-background"></div>
    <div id="bodyWrapper">

        <div class="sr-root">
            <div class="sr-main sr-main-unpaid">
                <h1>Choose a plan</h1>
                <div class="price-table-container">
                    <section>
                        <img src="/assets/img/SublessLogoOnly.png" width="120" height="120" />
                        <div class="name">Donation Plan</div>

                        <div class="price">$5</div>
                        <div class="duration">per month</div>
                        <button id="basic-plan-btn" (click)='redirectToCheckout()'>Select</button>
                    </section>
                </div>

            </div>
        </div>
        <button id="logout" class="logoutBtn">Logout</button>

        <div id="error-message" class="error-message"></div>

    </div>
</body>

</html>