@use 'sass:map';
@use '@angular/material' as mat;
@use "../theme/theme" as *;


.mat-card-content {
    margin-bottom: 8px;
}

a:link {
    color: map-get($md-pinkhighlight, 500);
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: map-get($md-subtitlegrey, 500);
    background-color: transparent;
    text-decoration: underline;
}

.title {
    @extend h1-font;

    font-size: 16px;
}

.lightBackgroundtitle {
    @extend .title;
    color: map.get($md-subtitlegrey, 500);
}

.darkBackgroundtitle {
    @extend .title;
    color: map.get($md-backgroundwhite, 500);
}

.subtitle {
    @extend h3-font;
    font-size: 10px;
}

.lightBackgroundsubtitle {
    @extend .title;
    color: map.get($md-subtitlegrey, 500);
}

.darkBackgroundsubtitle {
    @extend .title;
    color: map.get($md-backgroundwhite, 500);
}

.name {
    align-self: center;
    color: map-get($md-subtitlegrey, 900);
    @extend h3-font;

    font-size: 24px;

    /* Gray */

    color: #5C5C5C;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    @extend h3-font;
    color: #5C5C5C;

}

.darkBackgrounddetails {
    @extend .details;
    color: map.get($md-backgroundwhite, 500);

}

.lightBackgrounddetails {
    @extend .details;
}


.price-input {
    width: 124px;
    height: 89.83px;
    left: 96px;
    top: 56px;
    align-self: center;
}

.price-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: solid map-get($md-pinkhighlight, 500) 10px;
    margin: 10px;
}

.card-header {
    background-color: map-get($md-pinkhighlight, 500);
    height: 10px;
    background-size: cover;

}

.creator-redirect {
    @extend h3-font;
    text-align: center;
    align-self: center;
    color: map-get($map: $md-pinkhighlight, $key: 500)
}

.plan-details {
    @extend h3-font;
    text-align: left;
    align-self: left;
}

.price-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: map-get($md-secondarypurple, 500);
}

.price-picker {
    @extend body-font;
    border-style: hidden;
    font-family: "DM Sans";
}

.customPrice {
    // max-width: 2em;
    text-align: right;
    font-family: "DM Sans";

}

.customPriceWrapper {
    font-family: "DM Sans";
}

.customBudget {
    font-size: large;
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
}

.alert {
    color: red;
    font-weight: bold;
    width: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@mixin mix-app-theme($subless-app-theme) {
    .mat-button-toggle {
        background-color: map-get($md-backgroundwhite, 500);
        color: map-get($md-secondarypurple, 500);
        border-style: solid;
        border-width: medium;
        font-weight: bold;
        border-left-color: map-get($md-secondarypurple, 500) !important;
        border-left-width: medium !important;
        margin: 10px;
        border-radius: 10px;
    }

    .mat-button-toggle-checked {
        background-color: map-get($md-secondarypurple, 500);
        color: map-get($md-backgroundwhite, 500) !important;
        border-style: solid;
        border-width: medium;
        border-left-color: map-get($md-backgroundwhite, 500) !important;
        border-left-width: medium !important;
        border-radius: 10px;
    }
}

@include mix-app-theme($subless-app-theme);