<div #sublessbackground class="{{backgroundClass}}">
    <div class='{{backgroundClass}}title'>
        <h1>Choose your own price</h1>
    </div>
    <div class='{{backgroundClass}}subtitle'>
        <h1>Proceeds to the creators you love</h1>
    </div>
    <mat-card class="price-card">
        <mat-card-content class="price-picker">
            <mat-card-content class="name">Set your budget</mat-card-content>

            <input *ngIf="false" matInput class="price-input">
            <mat-button-toggle-group [(ngModel)]="priceChosen" class="price-picker" name="pricePicker"
                aria-label="pricePicker">
                <mat-button-toggle value="5">$5</mat-button-toggle>
                <!-- <mat-button-toggle value="10">$10</mat-button-toggle>
                <mat-button-toggle value="15">$15</mat-button-toggle> -->
            </mat-button-toggle-group>
        </mat-card-content>
        <mat-card-content class="plan-details">&#10004; Split among the creators you
            view</mat-card-content>
        <mat-card-content class="plan-details">&#10004; Billed once at the beginning of the month</mat-card-content>
        <mat-card-content class="plan-details">&#10004; Split at the end of the month</mat-card-content>
        <mat-card-content class="plan-details">&#10004; Cancel anytime</mat-card-content>
        <mat-card-content class="plan-details">&#10004; Browse till the end of the month after cancelling
        </mat-card-content>
        <button id="selectPlan" mat-button [disabled]="priceChosen == null" class="select-plan"
            (click)='redirectToCheckout()'>Select
            This Budget</button>
    </mat-card>
</div>