<div class="subless-background"></div>
<div class="container">
    <app-nav class="header"></app-nav>
    <div id="bodyWrapper">

        <div class="sr-root">
            <div class="sr-main sr-main-unpaid">
                <h1>Choose a plan</h1>
                <div class="price-table-container">
                    <section>
                        <img src="/assets/img/SublessLogoOnly.png" width="120" height="120" />
                        <div class="name">Donation Plan</div>

                        <div class="price">$5</div>
                        <div class="duration">per month</div>
                        <button id="basic-plan-btn" (click)='redirectToCheckout()'>Select</button>
                    </section>
                </div>
                <app-id></app-id>
            </div>
        </div>
    </div>
</div>