@use 'sass:map';
@use '@angular/material' as mat;
@use "../theme/theme";

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: stretch;
    height: 100%;
}

.card {
    margin: 2vh;
    max-width: 50vh;
    min-width: 100px;
    display: flex;

    padding: 0%;
    border-radius: 10px;
}

.iconWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 10px;

    background-color: map.get($md-secondarypurple, 500);
}

.icon {
    width: 100px;
}

.statText {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    padding: 20px;

}

.numberText {
    color: map.get($md-secondarypurple, 500);
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;

}

.statHeader {
    font-size: 1.2em;
}

@mixin mix-card-theme($subless-app-theme) {
    .mat-card-content {
        text-align: left;
    }
}

@include mix-card-theme($subless-app-theme);

.feeds {
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}