<div id="bodyWrapper">
    <!--<div class="subless-background"></div>-->
    <div class="sr-root">
        <div class="sr-main-post-checkout">
            <header class="sr-header">
                <div class="sr-header__logo"></div>
            </header>
            <div class="sr-payment-summary completed-view">
                <h1>Your payment succeeded</h1>

            </div>
            <div class="completed-view-section">
                <h4>
                    View CheckoutSession response:
                </h4>
                <div>
                    <pre></pre>
                </div>
                <button (click)='returnToStripe()'>Manage Billing</button>
            </div>
        </div>
    </div>
    <app-logout></app-logout>
</div>