<div class="stats">
    <mat-card class="card">
        <div class="iconWrapper">
            <img class="icon" src="../../assets/img/views.png">
        </div>
        <div class="statText">
            <mat-card-content class="statHeader">Total Views</mat-card-content>
            <mat-card-content class="numberText">{{analytics.thisMonth.views}}</mat-card-content>
            <mat-card-content><b>{{analytics.lastMonth.views}}</b> Views last month</mat-card-content>
        </div>
    </mat-card>
    <mat-card class="card">
        <div class="iconWrapper">
            <img class="icon" src="../../assets/img/creators.png">
        </div>
        <div class="statText">
            <mat-card-content class="statHeader">Creators Supported</mat-card-content>
            <mat-card-content class="numberText">{{analytics.thisMonth.creators}}</mat-card-content>
            <mat-card-content><b>{{analytics.lastMonth.creators}}</b> Creators viewed last month
            </mat-card-content>
        </div>
    </mat-card>
    <mat-card class="card">
        <div class="iconWrapper">
            <img class="icon" src="../../assets/img/partners.png">
        </div>
        <div class="statText">
            <mat-card-content class="statHeader">Partners Supported</mat-card-content>
            <mat-card-content class="numberText">{{analytics.thisMonth.partners}}</mat-card-content>
            <mat-card-content><b>{{analytics.lastMonth.partners}}</b> Partners viewed last month
            </mat-card-content>
        </div>
    </mat-card>
</div>