<div class="stats">
    <mat-card class="card">
        <div class="iconWrapper">
            <img class="icon" src="../../assets/img/views.svg">
        </div>
        <div class="statText">
            <mat-card-content class="statHeader">Total Views</mat-card-content>
            <mat-card-content class="numberText">{{analytics.thisMonth.views}}</mat-card-content>
            <mat-card-content><b>{{analytics.lastMonth.views}}</b> Views last month</mat-card-content>
        </div>
    </mat-card>
    <mat-card class="card">
        <div class="iconWrapper">
            <img class="icon" src="../../assets/img/creators.svg">
        </div>
        <div class="statText">
            <mat-card-content class="statHeader">Unique Visitors</mat-card-content>
            <mat-card-content class="numberText">{{analytics.thisMonth.visitors}}</mat-card-content>
            <mat-card-content><b>{{analytics.lastMonth.visitors}}</b> Visitors last month
            </mat-card-content>
        </div>
    </mat-card>
    <mat-card class="card">
        <div class="iconWrapper">
            <img class="icon" src="../../assets/img/picture.svg">
        </div>
        <div class="statText">
            <mat-card-content class="statHeader">Unqiue content viewed</mat-card-content>
            <mat-card-content class="numberText">{{analytics.thisMonth.piecesOfContent}}</mat-card-content>
            <mat-card-content><b>{{analytics.lastMonth.piecesOfContent}}</b> Unqiue content viewed last month
            </mat-card-content>
        </div>
    </mat-card>
    <div class="card downloadWrapper">
        <app-creatorstats></app-creatorstats>
    </div>
</div>