<div *ngIf="topHits.length>0" class="recentFeed">
    <div class="header">Top Content</div>
    <mat-card class="card">
        <div>
            <mat-card-content class="hitList">
                <div *ngFor="let hit of topHits; let i = index" class="hit">
                    <div class="content bold">
                        <div class="number">
                            {{i+1}}
                        </div>
                        <img class="icon" src="{{hit.favicon}}">
                        <div><a href="{{hit.content}}">{{hit.title}}</a></div>
                    </div>
                    <div class=" views">
                        <div class="bold">{{hit.hits}}</div>
                        <div class="faint"> Views</div>
                    </div>
                </div>
            </mat-card-content>
        </div>
    </mat-card>
</div>