<div class="completed-view-section">

    <mat-card-content>Upon creator activation or deactivation, a webhook will be fired back to the partner, if it has
        been
        configured.
        To test this, ensure your webhook URI is saved in your partner profile, and hit this button.
    </mat-card-content>

    <button mat-button (click)="fireWebhook()">Test webhook</button>
    <label *ngIf="webhookFired">Webhook Fired</label>
    <label *ngIf="webhookFailed">Webhook Failed</label>
</div>
<div class="completed-view-section">

    <mat-card-content> Upon completing the activation of a creator account, the creator will be redirected back to the
        partner site.
        To test this behavior, you can input the redirect url and username that was provided when the creator was
        directed
        to
        subless.</mat-card-content>
    <form (ngSubmit)="triggerRedirect()" #redirectTesterForm="ngForm">
        <div class="form-group">
            <label class='lbl' for="model.uri">Uri</label>
            <input type="text" class="form-control" id="uri" required [(ngModel)]="model.uri" name="uri" #uri="ngModel">
            <div [hidden]="uri.valid || uri.pristine" class="alert alert-danger">
                Uri is required
            </div>
        </div>
        <div class="form-group">
            <label class='lbl' for="Site">Username</label>
            <input type="text" class="form-control" id="username" required [(ngModel)]="model.username" name="username"
                #username="ngModel">
            <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                Username is required
            </div>
        </div>
        <button mat-button id='fire' type="submit" class="btn btn-success"
            [disabled]="!redirectTesterForm.form.valid">Test
            Activation</button>
    </form>
</div>